# Data Scince Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
list of popular libraries that used for Data Scince:
* Keras 
* ggplot2
* seaborn
* NumPy
* Pandas

Some of popular languages that Data Scientesrs use are:
- Python
- R
- SQL

some of commonly used libraries used by Data Scintists include:
1. Tensoflow
2. pandas
3. scikit-learn
4. torch

|Data Science Tools|
|------------------|
|Apache Spark|
|Anaconda|
|Apache Hadoop|

### Below are few examples of evaluating arithmetic expressions in python:

This a simple arihmetic expression to multiply then add intgers

In [4]:
(3*4)+5

17

this will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Aurthor 
Ghadah Arishi